<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>Welcome to Ink.io</title>
<style>
    .navbar-brand.mb-0.h1{	 
        width: 100%;
        text-align: center;
    }
    .navbar{
        background-color: #3EA38E;
    }
    .col-4{
        width:100%;
        text-align: center;
        }
        h4 { 
            padding-top: 25px; text-align: left;
        }
        form{
            text-align: left;
        }
        .btn.btn-success{
            float: right;
        }
    </style>
</head>
<body>
    <nav class="navbar text-light">
        <span class="navbar-brand mb-0 h1"><h2>Ink.io</h2></span>
    </nav>