<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

<title>Welcome to Ink.io</title>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
 .navbar{
        background-color: #3EA38E;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg   navbar-dark">
    <a class="navbar-brand" href="/homepage"><h2>Ink.io</h2></a>
    
    <a href="/notes" class="navbar-brand" >Your notes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/logout"><h4>Logout</h4> <span class="sr-only">(current)</span></a>
        </li>
      </ul>
  </nav>

      <div class="container my-3">
        <h1>Take your Notes here</h1>
        <br></br>
                <form action="/notes" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Title*
                </h5>
                <div class="form-group">
                    <textarea class="form-control" name="title"
                        id="addTxt" rows="1">
                    </textarea>
                </div>
                <h5 class="card-title">
                  Body*
                </h5>
                <div class="form-group">
                  <textarea class="form-control" name="content"
                      id="addTxt" rows="3">
                  </textarea>
                </div>
                <!-- <div class="form-group">
                  <label>Upload Image</label>
                  <div class="input-group">
                      <span class="input-group-btn">
                          <span class="btn btn-default btn-file">
                              Browse… <input type="file" id="imgInp">
                          </span>
                      </span>
                      <input type="text" class="form-control" readonly>
                  </div>
                  <img id='img-upload'/>
              </div> -->
                <button class="btn btn-primary" 
                    id="addBtn" style=
                    "background-color:green">
                    Add Note
                </button>
            </div>
        </div>
        
        
          
        <div id="notes" class=
            "row container-fluid"> 
        </div>
    </div>
  </form>

  
<!-- new code -->

</body>
<script
  src="/scripts/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<!-- <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity=
"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"> -->
<!-- </script> -->
    <!-- <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script> -->
<script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity=
"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous">

</script>

</html>