<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<title>Welcome to Ink.io</title>	
	</head>
	<body>
		<nav class="navbar text-light">
			<span class="navbar-brand mb-0 h1"><h2>Ink.io</h2></span>
		</nav>


		<div id="login">
			<h3 class="text-center text-info pt-5">Registration</h3>
			<div class="container">						
					<div id="signup-row" class="row justify-content-center align-items-center">
						<div id="signuo-column" class="col-md-6">
							<div id="login-box" class="col-md-12">
								<form  class="form-horizontal"action="/registration" method="post">
									
									<div class="form-group">
										<label for="name">First Name*</label>
										<input type="text" class="form-control" name = "FirstName" id="formGroupExampleInput" placeholder="Raju">
									</div>				
							
									<div class="form-group">
										<label for="name">Last Name*</label>
										<input type="text" class="form-control" name = "LastName" id="formGroupExampleInput2" placeholder="Rastogi">
									</div>

									<div class="form-group">
										<label for="exampleInputEmail1">Email address*</label>
										<input type="email" class="form-control" name = "Email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@gmail.com">
										<small id="emailHelp" class="form-text text-muted">
											<% if (locals.emailerror) { %>
												<p class="text-danger";>Email already exists, please try another.</p> 								
											<% } %>
											We'll never share your email with anyone else.</small>	
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">Password*</label>
										<input type="password" name = "Password" class="form-control" id="exampleInputPassword1" placeholder="Password"  aria-describedby="passwordHelpBlock">
										<div id="passwordHelpBlock" class="form-text text-muted">
										
											Your password must not contain spaces, special characters, or emoji.
										</div>
									</div>

									<div class="form-group">
										<label for="exampleInputPassword2">Confirm Password*</label>
										<input type="password" name = "PasswordConfirmation" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
									</div>

									<div class="form-group">
									<button type="submit" class="btn btn-primary">Register</button>
									</div>
									<div class="form-group">
										<p>
											Have an account ? <a href="/signin">SignIn</a>
										</p>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- errores -->
					
				
				</div>
			</div>
			
	


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
	</html>