<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">

	<title>Welcome to Ink.io</title>
	</head>
	<body>
		<nav class="navbar text-light">
			<span class="navbar-brand mb-0 h1"><h2>Ink.io</h2></span>
		</nav>

		<div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
						<% if (locals.message) { %>
							<p class="text-danger";>You have successfuly registerd, please Sign In.</p>
				   	<% } %>
					 <div id="login-row" class="row justify-content-center align-items-center">
							 <div id="login-column" class="col-md-6">
									 <div id="login-box" class="col-md-12">
										 <form  class="form-horizontal container"action="/signin" method="post">
											<h3 class="text-center text-info">Login</h3>

										<div class="form-group">
											<label for="exampleInputEmail1">Email address<span class="text-danger">*</span></label>
											<input type="email" class="form-control" name = "email" id="exampleInputEmail1"  placeholder="example@gmail.com">
										</div>
										<div class="form-group">
											<label for="exampleInputPassword1" >Password<span class="text-danger">*</span></label>
											<input type="password" name = "password" class="form-control" id="exampleInputPassword1" placeholder="Password"  aria-describedby="passwordHelpBlock">
										</div>
											<% if (locals.error) { %>
												<p class="text-danger";>Incorrect credentials, Please try again</p>
										  <% } %>
										<div class="form-group">
										<button type="submit" class="btn btn-primary">Sign in</button>
										</div>
										<div id="register-link" class="text-center">
										 	<a href="/registration" class="text-info ">Register here</a>
										</div>
									</form>
							</div>
						</div>
					</div>
				</div>
			</div>


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
	</html>
