<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bootstrap Frosty CMS Homepage Template</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
      integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- begin navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"
        ><img
          src="file:///D:/Dropbox/Websites/frosty_CMS/images/frostyCMS_logo_40px.svg"
          width="40"
          height="40"
          alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn-outline-success ml-auto mr-2" type="button">
          +New Post
        </button>
        <ul class="navbar-nav ml-2 flex-nowrap">
          <li class="nav-item">
            <a class="nav-link" href="/register"
              >Register<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"
              >Login<span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!-- begin content -->
    <!-- fixed width container for content -->
    <div class="container-lg mt-5">
      <div class="row justify-content-start">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card mt-4" style="width: 18rem;">
            <img
              src="file:///D:/Dropbox/Websites/frosty_CMS/images/sample-image.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">Card title</h3>
              <h6 class="card-title">Nick Coughlin</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card mt-4" style="width: 18rem;">
            <img
              src="file:///D:/Dropbox/Websites/frosty_CMS/images/sample-image.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">Card title</h3>
              <h6 class="card-title">Nick Coughlin</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card mt-4" style="width: 18rem;">
            <img
              src="file:///D:/Dropbox/Websites/frosty_CMS/images/sample-image.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">Card title</h3>
              <h6 class="card-title">Nick Coughlin</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card mt-4" style="width: 18rem;">
            <img
              src="file:///D:/Dropbox/Websites/frosty_CMS/images/sample-image.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">Card title</h3>
              <h6 class="card-title">Nick Coughlin</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card mt-4" style="width: 18rem;">
            <img
              src="file:///D:/Dropbox/Websites/frosty_CMS/images/sample-image.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">Card title</h3>
              <h6 class="card-title">Nick Coughlin</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <!-- bootstrap scripts -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
      integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
      crossorigin="anonymous"
    ></script>
  </body>
</html>